# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/build/

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Tests
coverage/